.tabla-recetas-all{
    border-collapse:collapse;
    border-spacing:0;
    width:100%;display:table
}
.tabla-recetas-all{
    border:1px solid #ccc
}
.tabla-bordered tr,.tabla-recetas-all tr{
    border-bottom:1px solid #ddd
}
.tabla-recetas-all tr:nth-child(even){
    background-color:#f1f1f1
}
.tabla-table td,.tabla-table th,.tabla-recetas-all td,.tabla-recetas-all th{
    padding:8px 8px
    ;display:table-cell
    ;text-align:left
    ;vertical-align:top
}

