.grid {
    float: right;
    width: 33%;
    padding: 50px;
    height: 500px;
  }
  
  .receta::after {
    content: "";
    clear: both;
    display: table;
  }
footer {
    position: absolute;
    bottom: 1;
    width: 100%}
